h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: Roboto, sans-serif; }

.header {
  height: 700px;
  background: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 24px;
  padding-bottom: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header__container {
    width: 1020px;
    height: 628px;
    margin: 0 auto; }
  .header__top {
    margin: 0 auto;
    margin-top: 24px;
    height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .header__tel-link {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .header__logo {
    height: 76px;
    width: 115px;
    background-image: url("../images/logo.png");
    background-size: cover; }
  .header__link {
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    border-bottom: 1px solid #fff;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .header__link:hover {
    color: #9fadc2; }
  .header__line {
    position: relative;
    top: 296px;
    width: 35px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff; }
  .header__main_text {
    margin-top: 314px;
    width: 328px;
    height: 121px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -1.5px;
    color: #fff; }

.nav {
  margin-top: 85px;
  height: 32px;
  width: 1020px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__item {
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 24px; }
  .nav__link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .nav__link:hover {
    color: #9fadc2; }
  .nav__item_active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }

.gallery__caption {
  margin: 24px 0 40px; }

.gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
  color: #0075ff;
  background-color: white;
  border: 2px solid #0075ff;
  border-radius: 8px;
  cursor: pointer;
  padding: 21px 0;
  margin: auto;
  margin-top: 10px; }
  .gallery__link:hover {
    background: #0075ff;
    color: white;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }

.heading {
  font-weight: bold;
  font-size: 48px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 23px;
    height: 16px;
    top: calc(100% + 7px);
    margin: auto;
    background-image: url(../images/crown.svg);
    background-repeat: no-repeat; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }
  .info__heading {
    width: 350px;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    letter-spacing: -1.5px; }
    .info__heading-link {
      display: inline;
      letter-spacing: -1.5px; }
  .info__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 27px; }
    .info__text-heading {
      font-size: 24px;
      margin: 0;
      color: #0075ff;
      font-weight: bold; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos__wide--right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos__wide--right .photos__img:last-child {
    width: calc(67% - 10px); }
  .photos__wide--left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos__wide--left .photos__img:last-child {
    width: calc(33% - 10px); }

html,
body,
ul,
li,
button,
input,
template,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: 16px; }

a {
  color: #0075ff;
  text-decoration: none; }

.section {
  margin-top: 152px;
  position: relative;
  padding: 100px 30px; }
  .section__heading {
    top: -120px;
    right: 0;
    left: 0;
    margin: 0 auto; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    max-width: 413px;
    padding-right: 30px; }
  .consultation__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__description {
    line-height: 27px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 413px; }
  .form__item {
    margin-bottom: 16px; }

.input {
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px;
  margin-right: -17px; }

.button {
  display: block;
  color: white;
  background-color: #0075ff;
  border: none;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border-radius: 8px;
  padding: 21px 106px;
  cursor: pointer; }
  .button:hover {
    background: #0067df;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }

.container {
  width: 1020px;
  margin: 0 auto; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.person {
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px;
    border-radius: 100%; }
  .person__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-top: 28px; }
  .person__position {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin: 4px 0; }
  .person__text {
    line-height: 27px;
    margin-top: 0; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 413px; }
    .contact__info--right {
      padding-right: 30px; }

.information {
  line-height: 27px; }
  .information__title {
    font-size: 14px;
    color: #9fadc2; }

.footer {
  bottom: 0;
  z-index: -1;
  height: 360px;
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer__logo {
    margin-top: 243px; }

/*# sourceMappingURL=main.css.map */
